@{
    ViewData["Title"] = "Error 404";
}

<header class="bg-primary py-5 mt-lg-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Error 404</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="mx-auto pt-4 mt-5">

            <img class="img-fluid" src="~/images/no-fount.png" alt="No fount"/>
            
            <div class="d-flex justify-content-center mt-2">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex justify-content-center ml-5 btn btn-outline-primary">Volver a la página principal »</a>
            </div>
        </div>
    </div>
</div>



