 @model SGPB.Web.Data.Entities.DocumentType

<div class="form-floating mb-3">
    <label asp-for="Abbreviation" class="control-label"></label>
    <input asp-for="Abbreviation" class="form-control" />
    <span asp-validation-for="Abbreviation" class="text-danger invalid-feedback"></span>
</div>

<div class="form-floating mb-3">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger invalid-feedback"></span>
</div>

