@model SGPB.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<header class="bg-primary py-5 mt-lg-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cambiar contraseña</h1>
        </div>
    </div>
</header>

<section class="py-3">
    <div class="card-footer p-4 pt-0 border-bottom-0 bg-transparent  border-bottom">
    </div>
    <div class="container px-5 my-5 px-5" style="max-width: 80%;">
        <div class="row gx-5 justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="OldPassword">Current password</label>
                        <input asp-for="OldPassword" type="password" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword">New password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Confirm">Confirm</label>
                        <input asp-for="Confirm" type="password" class="form-control" />
                        <span asp-validation-for="Confirm" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cambiar contraseña" class="btn btn-outline-primary" />
                        <a asp-action="ChangeUser" class="btn btn-outline-success">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
	@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


