@{
    ViewData["Title"] = "Confirmar Correo";
}

<header class="bg-primary py-5 mt-lg-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">@ViewData["Title"]</h1>
             <h2>Gracias por confirmar su correo electrónico. Ahora puede iniciar sesión en el sistema.</h2>
        </div>
    </div>
</header>



