@{
	ViewData["Title"] = "No autorizado";
}

<header class="bg-primary py-5 mt-lg-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">No autorizado</h1>
             <h2>¡No está autorizado para realizar esta acción!</h2>
        </div>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="mx-auto pt-4 mt-5">
            <img class="img-fluid" src="~/images/unauthorized.png" alt="No Autorizado"/>
            <div class="d-flex justify-content-center mt-2">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex justify-content-center ml-5 btn btn-outline-primary">Volver a la página principal »</a>
            </div>
        </div>
    </div>
</div>


